<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asher's Chapter 25 Tutorial</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Asher's Chapter 25 Tutorial</h1>
    <h2>Links:</h2>
    <a href="/ex1">Exercise 1 - Order - Process a Form</a><br>
    <a href="/countries">Exercise 2 - Send JSON to API</a><br>
    <a href="/articles">Exercise 3 - Articles - Process a Form</a><br>
</body>
</html>


